<h3>Cart</h3>
<p>
  <a routerLink="/shipping">Shipping prices</a>
</p>
<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<div *ngIf="false">
    <h3 style="alignment: center">Deliver product</h3>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

    <label>Name</label>
    <input type="text" formControlName="name">

    <label>Address</label>
    <input type="text" formControlName="address">

    <label>Gender</label><br>
    <input type="radio" formControlName="gender" value="male">male
    <input type="radio" formControlName="gender" value="female"> female
<br>
  <button type="submit" class="button">purchase</button>
</form>
</div>
<app-name-editor></app-name-editor>
